.button {
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: lightblue;
}
/* 
.button:active {
  transform: scale(0.5);
} */
