.button {
  display: inline;
  float: right;
  margin-right: 70px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: lightblue;
  margin-top: -10px;
}
