.form{
   border: 2px solid yellow;
   border-radius:  5px;
   display: inline-block;

}
.btn{
    background-color:orange;
    border-radius: 10px;
    cursor: pointer;

}
.btn:hover{
    background-color: blueviolet;
}