  .products{
    background-color: beige;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
   
}
  .price{
    background: lightsalmon;
    border-style: double;
    border-radius: 5px;
    display: inline-block;
}  
.accu{
    position: relative;
   
    width: 25%;
    margin: auto;
}
