.overlay {
  position: fixed;
  top: 20vh;
  left: 25%;
  width: 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  text-align: center;
  overflow-y: scroll;
  height: auto;
  max-height: 500px;
}

.delete {
  float: right;
  border: 2px solid gray;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.heading {
  display: flex;
  margin-top: 30px;
  /* justify-content: space-around; */
}

.heading span {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.item {
  flex-basis: 43%;
  text-align: center;
}

.price {
  flex-basis: 18%;
  text-align: center;
}

.quantity {
  flex-basis: 22%;
  text-align: center;
}

.total {
  margin-top: 40px;
  text-align: right;
}

.total span {
  margin: 25px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.total div {
  display: inline;
  margin: 0 40px 0 40px;
  font-size: 25px;
  padding: 5px 10px 5px 10px;
  background-color: #00d0ff;
  border-radius: 5px;
}

.button {
  font-size: 25px;
  font-weight: bold;
  background-color: aqua;
  border-radius: 5px;
  margin-top: 30px;
}

.delete {
  padding: 0 20px 0 20px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #38f1b3;
}

/* .overlay button:active {
  transform: scale(0.5);
} */
