.div {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid gray; */
  /* background-color: #f4f4f4; */
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.div span {
  margin: 20px;
  font-size: 20px;
  font-family: sans-serif;
  flex: 18%;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 10px 0 10px 0;
}

.div img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex: 30%;
  border: 2px solid black;
}

.div button {
  flex: 16%;
  margin-left: 10px;
  font-size: 20px;
}
