.div {
  flex-basis: 40%;
  margin-bottom: 50px;
}

.div .image {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}

.div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 2s;
}

.div img:hover {
  transform: scale(140%);
}

.div h2 {
  text-align: center;
  font-family: cursive;
}

.div .detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.div span {
  padding: 10px 20px 10px 20px;
  border: 2px solid lightblue;
  border-radius: 5px;
}

.div button {
  cursor: pointer;
}

.div button:hover {
  background-color: lightblue;
  color: black;
}
