.div {
  flex-basis: 40%;
  margin-bottom: 50px;
}

.div img {
  display: block;
  margin: auto;
  margin-bottom: 60px;
  transform-origin: center center;
  object-fit: cover;
}

.div img:hover {
  transform: scale(110%);
}

.div h2 {
  text-align: center;
  font-family: sans-serif;
}

.div span {
  text-align: left;
  padding: 10px 20px 10px 20px;
  border: 2px solid #56ccf2;
  border-radius: 5px;
  margin-left: -120px;
}

.div button {
  display: inline;
  float: right;
  margin-right: 70px;
  margin-bottom: 30px;
  margin-top: -10px;
}

.div button:hover {
  background-color: lightblue;
  color: black;
}
