.form {
  margin: auto;
  border: 2px solid gray;
  padding: 40px;
  width: 500px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 7px gray;
  border: none;
}

.form label {
  display: block;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

.form input {
  padding: 5px;
  margin-bottom: 1em;
  width: 96%;
  font-size: 18px;
  border-radius: 5px;
}

.form div {
  text-align: center;
}

.form button {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  background-color: #5ac3ed;
  border: none;
  /* box-shadow: 0 0 10px rgb(255, 222, 58); */
}

.form button:active {
  transform: scale(0.95);
}
