.div {
  background-color: #808080;
  text-align: center;
  padding-bottom: 20px;
}

.div h1 {
  font-size: 100px;
}

.div button {
  display: block;
  background-color: inherit;
  border: 2px solid #10cef4;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.play-button {
  border-radius: 50%;
}

.tourInfo {
  margin-bottom: 80px;
}
