.product {
  margin: 185px 0 105px 500px;
  display: flex;
  align-items: center;
}

.product img {
  margin: 20px;
  /* border: 2px solid black; */
  float: left;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 20px #808080;
  transition: 0.2s;
}

.product img:hover {
  transform: scale(1.5);
}

.detail {
  margin: 20px;
}

.detail h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: cursive;
}

.detail h2 {
  padding: 3px 10px 3px 0;
  border-radius: 5px;
  font-family: cursive;
}

.rating {
  font-size: 18px;
}

.rating span {
  margin: 10px;
  padding: 3px 15px 3px 15px;
  background-color: seagreen;
  border-radius: 20px;
}

.detail p {
  margin-top: 40px;
  text-align: left;
}
