.section {
  text-align: center;
}
.section h1 {
  margin: 0;
  padding: 100px 0 20px 0;
  background-color: gray;
  font-size: 60px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.button {
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(111, 255, 195);
  margin-bottom: 50px;
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}
