.div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.div span {
  padding: 10px;
  margin-bottom: 20px;
}

.date {
  flex: 1;
}

.place {
  flex: 1;
}

.venue {
  flex: 2;
}

.div button {
  flex: 1;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
  border: none;
  background-color: #05d9f5;
  border-radius: 5px;
}
