.header {
    /* max-width: 60rem; */
    margin: auto;
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
    background-color: darkcyan;

  }

  
  .list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    
    
   
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-400);
    margin-left: 80px;
    color: aliceblue;

  }
  
  .list a:hover,
  .list .active {
    color:lightslategrey;
    text-decoration: none;
    transition: 0.8s;
    background-color: bisque;
    border-radius: 5px;

  }
  .logo{
    position:absolute;
    left: 10px;
  }