.button {
  border: 2px solid lightblue;
  border-radius: 5px;
  color: white;
  align-items: center;
  background-color: black;
  margin-right: 50px;
  cursor: pointer;
}
/* 
.button:active {
  transform: scale(0.95);
} */

.button span {
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
  font-family: cursive;
}
