.header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: black;
  padding: 10px;
  border-bottom: 2px solid white;
  /* justify-content: center; */
  text-align: center;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header nav {
  flex-basis: 85%;
}

.header li {
  color: white;
  list-style: none;
  display: inline;
  margin: 0 100px 0 0;
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
}
