.headerCartButton {
  border: 2px solid lightblue;
  border-radius: 5px;
  align-items: center;
  background-color: black;
  margin-right: 50px;
  color: lightblue;
  cursor: pointer;
}

.headerCartButton:active {
  transform: scale(110%);
}

.headerCartButton span {
  color: lightblue;
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
  font-family: sans-serif;
}
